.TransactionBody{
    align-items: center;
    justify-content: center;
}

.table{
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
}

.filter{
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;

}